@font-face {
  font-family: "Archivo";
  src: url("./font/archivo.ttf") format("truetype");
}
:root {
  --color-main: rgb(49, 131, 21);
  --color-bg-main: rgb(97, 200, 97);
}
* {
  font-family: Archivo;
}
*,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Archivo;
  /* font-size: 16px; */
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
}
/* header */
#myHeader {
  position: sticky;
  top: 0;
  z-index: 999;
}

.contain {
  height: 100%;
  padding: 24px;
  background-color: var(--color-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffff;
  fill: #fff;
  position: relative;
  transition: padding 0.4s ease;
}
.header-scrolled .contain {
  padding: 4px 24px !important;
  transition: padding 0.4s ease;
}
header .bb-site-title p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.bb-desktop-nav {
  display: none;
}
.bb-header-btn {
  display: none;
}
.span-change-language {
  display: inline-block !important;
}
.bb-desktop-nav li a span {
  position: relative;
  color: #ffff;
  width: max-content;
  display: flex;
}
.nav-panel li a span {
  position: relative;
  color: #ffff;
  width: max-content;
  /* display: flex; */
}
.span-change-language :after {
  width: 0% !important;
}
.bb-desktop-nav li a.active span:after,
.nav-panel li a.active span:after,
.bb-desktop-nav li a:hover span:after,
.nav-panel li a:hover span:after {
  width: 100%;
}
.bb-desktop-nav li a span:after,
.nav-panel li a span:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 0%;
  border-bottom: 1px solid;
}
.form-select {
  background-color: var(--color-main);
  color: #ffff !important;
  border: none;
  fill: #fff !important;
}
.bb-site-title {
  font-family: Archivo;
  font-weight: 900;
  white-space: nowrap;
  cursor: pointer;
}
.bb-site-title p {
  font-size: 20px;
}
.bb-site-title {
  color: #fff;
}
.nav-menu.show .nav-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
  display: block;
  cursor: pointer;
}
.nav-menu .nav-panel {
  position: fixed;
  height: 100vh;
  width: 70vw;
  max-width: 400px;
  z-index: 1000000;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 320px;
  transform: translateX(-100%);
  will-change: transform;
}
.bb-mobile-nav .nav-toggle {
  display: flex;
  background: transparent;
  border: 0;
  align-items: center;
  box-shadow: none;
  font-weight: 600;
  padding: 8px 18px;
  transition: all 200ms;
}
.bb-box {
  background-color: var(--color-main);
  color: #fff;
  fill: #fff;
  --section-text-color: #fff;
  --section-background-color: var(--color-main);
}
.nav-menu .nav-close,
.language-switch-toggle {
  cursor: pointer;
}
.nav-menu .bb-border-bottom {
  position: relative;
}

.nav-menu .bb-border-bottom:after {
  content: "";
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  border-bottom: 1px solid;
  opacity: 0.2;
}
.nav-menu.show .nav-panel {
  transform: translateX(0);
}
.form-select:focus {
  box-shadow: none;
}

/* //footer */
footer {
  width: 100%;
}
.footer-top {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-main);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* footer p {
  color: #fff;
} */
.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  fill: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-mid {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000000;
  padding-top: 16px;
}
.social-links {
  font-display: flex;
}
.social-links a {
  color: #fff;
  fill: #fff;
  padding: 8px;
}
.social-links > a:hover {
  opacity: 0.8;
}
.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000000;
}
.footer-bottom {
  color: #fff;
  padding: 35px 16px;
}
.footer-bottom a {
  color: #fff;
}

.footer-top .contact a:hover {
  text-decoration: underline;
  color: #fff;
}
.footer-bottom .contact a:hover {
  text-decoration: underline;
  color: #fff;
}
#container-featured-program {
  background-color: var(--color-bg-main);
  color: white;
  padding-bottom: 100px;
  min-height: fit-content;
}
#container-featured-program .container {
  max-width: 1140px;
}
#container-featured-program .container .header {
  text-align: center;
  padding: 50px 0;
}
#container-featured-program .container .header .title {
  font-size: 42px;
  font-weight: 900;
  font-family: Archivo;
}
#container-featured-program .box-items {
  text-align: center;
}
#container-featured-program .box-items .item {
  /* width: 100%; */
  text-align: center;
}
#container-featured-program .box-items .item .name-feature {
  font-size: 24px;
  font-weight: 500;
  padding-top: 1.5rem;
}
#container-featured-program .box-items .item .auth-and-time {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  gap: 5px;
}
#container-featured-program .button-view-all {
  margin-top: 20px;
}
#container-featured-program .button-view-all button {
  color: #000;
  border-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 12px 24px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
}
#container-featured-program .button-view-all button:hover {
  opacity: 0.8;
}
#footer .form-footer {
  /* padding: 0 100px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
#footer .form-footer .title {
  margin-top: 50px;
  font-size: 48px;
  color: #000;
  font-weight: 900;
}
#footer .form-footer .desctription {
  color: #595959;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
#footer .form-footer .form input {
  margin-top: 5px;
}
#footer .form-footer .form label {
  color: #595959;
  font-weight: bold;
}
#footer .form-footer .form input,
#footer .form-footer .form textarea {
  border-color: #595959;
}
#footer .form-footer .btn-submit {
  margin: 20px 0px;
  /* width: 95%; */
}
#footer .form-footer .btn-submit input {
  width: auto;
  background-color: var(--color-bg-main);
  border-color: var(--color-bg-main);
}
#footer .phone-numer-text,
#footer .email-text {
  color: white;
}
/* main */
#main-introduce {
  padding: 140px 0px;
}
.image-main-introduce {
  background-image: url("./image/bg-main.jpg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.image-main-introduce img {
  width: 100%;
  height: 100%;
}

.main-introduce-content {
  margin: auto;
  max-width: 100%;
}
.main-introduce-content .text-box {
  background-color: var(--color-bg-main);
  color: #fff;
  padding: 50px 40px;
}

.bb-section-title {
  font-size: 48px;
  font-weight: 900;
}
.bb-section-subtitle {
  font-size: 24px;
  font-weight: 400;
}
/* main welcome */
.bb-section-padding {
  padding-top: 35px;
  padding-bottom: 35px;
}
.image-main-welcome {
  background-image: url("https://templatepreview.website.com/remote/imageProxy.cfc?method=viewLibraryImage&s=MEpSLlonPV5RVElZNCsmVDczLSQkNkAgIAo%3D&w=1280");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* CSS SELECT LANGUAGE */
.goog-te-gadget-icon {
  display: none !important;
}
.goog-te-gadget-simple {
  background-color: var(--color-main) !important;
  border: none !important;
}
.goog-te-gadget-simple span {
  color: #fff !important;
}

.VIpgJd-ZVi9od-vH1Gmf-ibnC6b-gk6SMd div,
.VIpgJd-ZVi9od-vH1Gmf-ibnC6b-gk6SMd:link div,
.VIpgJd-ZVi9od-vH1Gmf-ibnC6b-gk6SMd:visited div {
  display: none !important;
}
.hidden {
  display: none !important;
}
.indicator {
  display: none !important;
}

.VIpgJd-ZVi9od-vH1Gmf {
  background-color: var(--color-main) !important;
  border: 1px solid #fff;
}
.goog-te-combo,
.VIpgJd-ZVi9od-ORHb *,
.VIpgJd-ZVi9od-SmfZ *,
.VIpgJd-ZVi9od-xl07Ob *,
.VIpgJd-ZVi9od-vH1Gmf *,
.VIpgJd-ZVi9od-l9xktf * {
  font-family: Archivo !important;
}
.VIpgJd-ZVi9od-vH1Gmf-ibnC6b div,
.VIpgJd-ZVi9od-vH1Gmf-ibnC6b:link div,
.VIpgJd-ZVi9od-vH1Gmf-ibnC6b:visited div,
.VIpgJd-ZVi9od-vH1Gmf-ibnC6b:active div {
  color: #fff !important;
  background-color: var(--color-main) !important;
  border-bottom: 0.8px;
}
.VIpgJd-ZVi9od-vH1Gmf-ibnC6b div {
  border-bottom: 1px solid #fff !important;
}
.VIpgJd-ZVi9od-vH1Gmf-ibnC6b .text {
  width: 120px !important;
}
.VIpgJd-ZVi9od-vH1Gmf {
  width: 100% !important;
  height: 100%;
  padding: 0px !important;
  box-sizing: border-box !important;
}
.VIpgJd-ZVi9od-vH1Gmf table {
  width: 100% !important;
}
.VIpgJd-ZVi9od-xl07Ob-OEVmcd {
  width: 88px !important;
}

.scrolled-onClick-language {
  top: 40px !important;
}
.scrolled-onClick-language-mobile {
  top: 340px !important;
}
/* 1 */
.img-course-1 div{
  display: none;
}.img-course-1:hover{
  transform: translateY(-60px);
  transition: all 0.5s;
}
.img-course-1:hover div{
  display: block;
  transition: 0.2s; 
}
/* 2 */
.img-course-2 div{
  display: none;
}.img-course-2:hover{
  transform: translateY(-60px);
  transition: all 0.5s;
}
.img-course-2:hover div{
  display: block;
  transition: 0.2s; 
}
/* 3 */
.img-course-3 div{
  display: none;
}.img-course-3:hover{
  transform: translateY(-60px);
  transition: all 0.5s;
}
.img-course-3:hover div{
  display: block;
  transition: 0.2s; 
}
/* ABOUT PAGE */
#about {
  max-width: 100%;
}
#promotion {
  background-color: var(--color-bg-main);
  color: #fff;
  fill: #fff;
}
.bb-media-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.image-about {
  background-image: url("image/image-about-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.bb-section-padding.bb-section-padding-1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-detail {
  background-color: var(--color-bg-main);
  border-color: var(--color-bg-main);
}
.bb-aspect-ratio {
  width: 100%;
  height: 100px;
}
.bb-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.icon-sight {
  background-image: url("icon/noun-sight-2037756.svg");
}
.icon-taste {
  background-image: url("icon/noun-eat-1503737.svg");
  background-size: contain !important;
}
.icon-smell {
  background-image: url("icon/noun-smell-1711214.svg");
}
.icon-sound {
  background-image: url("icon/noun-talk-1584055.svg");
}
.icon-touch {
  background-image: url("icon/noun-touch-927394.svg");
}
.icon-doing {
  background-image: url("icon/noun-work-3497800.svg");
}
@media (min-width: 576px) {
  .footer-container {
    max-width: 540px;
  }
  .main-introduce-content {
    max-width: 540px;
  }
  .bb-section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .bb-section-padding.bb-section-padding-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 690px) {
  #footer .form-footer .btn-submit input {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .footer-container {
    max-width: 720px;
  }
  .main-introduce-content {
    max-width: 720px;
  }
  .main-introduce-content .text-box {
    padding: 100px 40px;
  }
}
@media (min-width: 992px) {
  .main-introduce-content {
    max-width: 960px;
  }
  .bb-section-padding {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .bb-section-padding.bb-section-padding-1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1100px) {
  .footer-container {
    max-width: 960px;
  }
  .bb-desktop-nav {
    display: block;
  }
  .bb-header-btn {
    display: block;
  }
  .language-switch-toggle {
    display: none;
  }
  .bb-mobile-nav .nav-toggle.bb-box {
    display: none;
  }
}
@media (min-width: 1200px) {
  .footer-container {
    max-width: 1140px;
  }
  .main-introduce-content {
    max-width: 1140px;
  }
}
@media (max-width: 440px) {
  .item-promotion {
    justify-content: center;
    flex-wrap: wrap;
  }
  .bb-aspect-ratio {
    padding-bottom: 0px !important;
    height: 64px !important;
  }
}
.goog-te-combo {
  background-color: #f2f2f2;
  color: #333;
  padding: 5px;
  border: none;
  border-radius: 4px;
}
.skiptranslate iframe {
  display: none !important;
}
body {
  top: 0px !important;
}
div#google_translate_element span {
  font-size: 16px;
}
